[submodule "shell/.zsh/zsh-autocomplete"]
	path = shell/.zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "arch_de_i3/.config/polybar/ixwindow"]
	path = arch_de_i3/.config/polybar/ixwindow
	url = https://github.com/andreykaere/ixwindow.git
