* {
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

.modules-right {
  padding-left: 15px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #000000;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #000000;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #000000;
}

#battery,
#tray,
#window,
#workspaces,
#custom-notification{
  padding-right: 10px;
}

#cpu {
  color: #9ece6a;
}
#custom-cpu-temp {
  color: #9ece6a;
  padding-right: 15px;
}

#memory {
  color: #f7768e;
  padding-right: 10px;
}

#network {
  color: #a9b1d6;
  padding-right: 10px;
  min-width: 220px;
}
#clock{
  color: #5fd1fa;
  padding-right: 10px;
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
