
@define-color transparent transparent;

@define-color main_bg #101014;

@define-color very_dark_blue_gray #16161d;
@define-color medium_gray #808080;
@define-color bright_cyan #00afaf;
@define-color soft_sky_blue #7fb4ca;
@define-color pink_rose #d75f87;
@define-color cream_beige #dcd7ba;
@define-color soft_lavender #a9b1d6;
